#reset-this-root {
    all: unset;
}

main {
    font-family: "Open Sans", sans-serif;
}

.intro {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vh;
}

.content {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.selfie {
    width: 45%;
    border-radius: 1vw;
}

.intro-text {
    width: 45%;
    height: inherit;
    
    position: relative;
}

#hello {
    font-size: 5vw;
    font-weight: 550;
    line-height: 5vw;
    margin-bottom: 3vw;
}

#des {
    font-size: 3vw;
    line-height: 3.5vw;
    color: #6C6C6C;
}

#links {
    font-size: 1.3vw;
    position: absolute;
    bottom: 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.tab {
    width: 30%;
    height: 10vh;
    outline:0.01em solid #D9D9D9;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    filter: grayscale(1);
    color:#D9D9D9; 
    cursor: pointer;
}

.tab:hover {
    transform: scale(1.05);
    filter: grayscale(0);
    color: black;
}

.tabactive {
    color: black;
    background-color: #D9D9D9;
    filter: grayscale(0);
}

.icon {
    width: 30%;
    margin-right:1vw;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.tab_name {
    width: 30%;
    font-weight: 550;
    text-align: center;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

.contentbody {
    outline:0.01em solid #D9D9D9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    
}

.title {
    height: 10vh;
    background-color: #D9D9D9;
    margin-top: 3vh;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: 3vw;
    margin-bottom: 2vh;
}

.tw {
    margin-top: 3vh;
    border-radius: 1.5vw;
    margin-bottom: 2vh;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.projectbody {
    width: 100%;
}

.projecttabs {
    display: flex;
    justify-content: space-evenly;
}

.projecttab {
    width: 33%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    outline:0.01em solid #D9D9D9;
    color: #D9D9D9;
    border-radius: 1vw 1vw 0px 0px;
    cursor: pointer;
}

.projecttabactive {
    width: 34%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    outline:0.01em solid #D9D9D9;
    border-radius: 1vw 1vw 0px 0px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.projectmain {
    margin-bottom: 3vh;
    outline:0.01em solid #D9D9D9;
    border-radius: 0px 0px 1vw 1vw;
    padding: 1vw;
    font-size: 1vw;
}

ul {
    margin: 0;
}

iframe {
    width: 100%;
    height: 50vh;
    border-radius: 2vw;
}


.spy {
    margin-top: 10vh;
    border-radius: 1.5vw;
    margin-bottom: 2vh;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.glade {
    margin-top: 8vh;
    border-radius: 1.5vw;
    margin-bottom: 2vh;
    height: 23vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-content {
    display: none;
}

.content-active {
    display: block;
}

.main-content {
    width: 90%;;
}

.tool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 550;
    outline:0.01em solid #D9D9D9;
    border-radius: 1.5vw;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.icon2 {
    width: 10%;
    margin-right: 5%;
}

.search {
    width: 100%;
    border-radius: 1.5vw;
    outline:0.1em solid black;
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.searchbar {
    width: 60%;
    margin: 3%;
}

.searchtitle {
    font-size: 2vw;
    font-weight: 550;
    padding-left: 3%;
    padding-right: 3%;
}

.tags {
    width: 80%;
    font-size: 1vw;
    display: flex;
    justify-content: space-around;
}

.tag {
    outline:0.01em solid #D9D9D9;
    border-radius: 1.5vw;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
    user-select: none
}

.tag:hover {
    transform: scale(1.05);
}

.activetag {
    background-color: #A7C7E7;
    font-weight: 500;
    transform: scale(1.05);
}

.noresults {
    color:#6C6C6C;
    font-size: 1.5vw;
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

a:visited {
    color: black;
}

a {
    color: black;
}

.about {
    width: 50vw;
    margin: auto;
    border-radius: 2vw;
    outline:0.01em solid #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

.about-title {
    font-size: 4vw;
    font-weight: 550;
    line-height: 5vw;
}

.about-text {
    width: 90%;
    font-size: 1.5vw;
}

.about-sentence {
    margin: 1vw;
}

.mainlink {
    font-size: 2vw;
}